{% extends 'template/jhTemplateV4.html'%}

{% block vueTemplate %}

<script type="text/html" id="app-template">
  <div>
    <v-app mobile-breakpoint="sm">
      <jh-menu />
      <v-main class="mt-15">
        <!-- 头部内容 >>>>>>>>>>>>> -->
        <div class="jh-page-second-bar px-8">
          <div class="pt-3 text-h7 font-weight-bold">新申请审批
            <!-- 帮助页按钮 -->
            <v-icon @click="isHelpPageDrawerShown = true" color="success" small>mdi-help-circle-outline</v-icon>
          </div>
          <v-breadcrumbs class="pb-3 pt-0 px-0" :items="breadcrumbs" divider="-"></v-breadcrumbs>
        </div>
        <!-- <<<<<<<<<<<<< 头部内容 -->

        <div class="jh-page-body-container px-8">
          <!-- 页面内容 >>>>>>>>>>>>> -->
          <v-card class="rounded-lg mb-4" v-for="(template, tIndex) in templateList" :key="tIndex">
            <v-row class="ma-0 py-0 px-4">
              <!--新增按钮-->
              <v-col cols="12" xs="12" sm="12" md="12" xl="12" class="" style="border-bottom: 1px solid #eee;">
                {{template.group}}
              </v-col>
              <v-col cols="4" xs="4" sm="2" md="1" xl="1" class="pl-0" v-for="(work, index) in template.list">
                <div class="work-item-box">
                  <v-card 
                    :href="'/<$ ctx.app.config.appId $>/page/jumpAddWorkflow?templateId=' + work.id"
                    outlined 
                    tile 
                    class="work-item-content d-flex justify-center align-center">
                    <div class="work-item-label d-flex flex-column justify-center align-center" >
                      <v-icon
                        class="mb-2"
                        large
                        :color="work.color"
                      >
                        {{work.icon}}
                      </v-icon>
                      {{work.name}}
                    </div>
                  </v-card>
                </div>
              </v-col>
            </v-row>
          </v-card>
          <!-- <<<<<<<<<<<<< 页面内容 -->
        </div>
      </v-main>
    </v-app>

    <jh-toast />
    <jh-mask />
    <jh-confirm-dialog />

  </div>
</script>

<div id="app">
</div>

{% endblock %}

{% block vueScript %}

<!-- 加载页面组件 >>>>>>>>>>>>> -->
{% include 'common/fixedTableHeightV4.html' %}
<!-- <<<<<<<<<<<<< 加载页面组件 -->

<script type="module">
  new Vue({
    el: '#app',
    template: '#app-template',
    vueComponent: 'page',
    vuetify: new Vuetify(),
    data: {
      // 面包屑
      breadcrumbs: [
        {
          text: '首页',
          disabled: true,
        },
        {
          text: '模板',
          disabled: true,
        }
      ],
      templateList: [
        {
          group: '假勤',
          list: [
            { name: '请假', id: 'leave', icon: 'mdi-calendar-range', color: 'orange darken-2' },
            { name: '加班', id: 'overtime', icon: 'mdi-account-clock', color: 'blue darken-2' },
            { name: '出差', id: 'businessTrip', icon: 'mdi-airplane-takeoff', color: 'blue darken-2' },
            { name: '外出', id: 'out', icon: 'mdi-seat-outline', color: 'blue darken-2' },
            { name: '出勤', id: 'attendance', icon: 'mdi-account-clock', color: 'teal darken-2' },
            { name: '补卡', id: 'makeUpCard', icon: 'mdi-account-clock', color: 'blue darken-2' },
            { name: '调休', id: 'adjustRest', icon: 'mdi-account-clock', color: 'teal darken-2' },
            { name: '调班', id: 'adjustClass', icon: 'mdi-account-clock', color: 'blue darken-2' },
          ]
        },
        {
          group: '行政',
          list: [
            { name: '会议室预定', id: 'metting', icon: 'mdi-account-multiple-outline', color: 'green darken-2' },
            { name: '用车申请', id: 'car', icon: 'mdi-car-back', color: 'teal darken-2' },
            { name: '用印申请', id: 'seal', icon: 'mdi-network-outline', color: 'orange darken-2' },
            { name: '物品领用', id: 'goods', icon: 'mdi-network-outline', color: 'light-blue darken-2' },
            { name: '物品借用', id: 'goodsBorrow', icon: 'mdi-network-outline', color: 'indigo darken-2' },
            { name: '通用审批', id: 'goodsReturn', icon: 'mdi-check-network-outline', color: 'blue darken-2' },
          ]
        }
      ]
    },
    watch: {},
    mounted() {
    },
    methods: {
      async doUiAction(uiActionId, uiActionData) {
        switch (uiActionId) {
          case 'getTableData':
            await this.getTableData();
            break;
          case 'openTableZebraLineMenu':
            await this.openTableZebraLineMenu(uiActionData);
            break;
          case 'jumpToAssignmentPaper':
            await this.jumpToAssignmentPaper(uiActionData);
            break;
          default:
            console.error("[doUiAction] uiActionId not find", { uiActionId });
            break;
        }
      },

      async getTableData() {
        this.isTableLoading = true;
        const result = await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'articleManagement',
              actionId: 'selectItemList',
              actionData: {},
              where: {articleAssignmentPublishStatus: 'publish'},
              orderBy: [{ column: 'operationAt', order: 'desc' }]
            }
          }
        });

        this.tableData = result.data.appData.resultData.rows;
        this.isTableLoading = false;
      },
      
      // ---------- 斑马纹开关 uiAction >>>>>>>>>> --------
      async openTableZebraLineMenu(funObj) {
        this.tableZebraLineMenuPosition.x = funObj.x -funObj.offsetX + 10;
        this.tableZebraLineMenuPosition.y = window.innerHeight - 50;
        this.isTableZebraLineMenuShown = !this.isTableZebraLineMenuShown;
      },
      // ---------- <<<<<<<<<< 斑马纹开关 uiAction --------

      // ---------- <<<<<<<<<<< 跳转考作业 --------
      jumpToAssignmentPaper(item) {
        window.location.href = "/<$ ctx.app.config.appId $>/page/assignmentPaper?articleId=" + item.articleId;
      }
      // ---------- 跳转考作业 >>>>>>>>>>>> --------
    }
  })
</script>

<style scoped>
  .work-item-box {
    padding: 50% 0;
    position: relative;
  }
  .work-item-content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

  }
  @media (max-width: 500px) {
    body [xs='4'] {
      flex: auto;
    }
  }
  
</style>
{% endblock %}
