<!-- formItem.html >>>>>>>>>>>>> -->
<script type="text/html" id="task-history">
  <div>
    <v-data-table
      :headers="headers"
      :items="tableData"
      :items-per-page="-1"
      mobile-breakpoint="0"
      :loading="isTableLoading"
      checkbox-color="success"
      fixed-header
      hide-default-footer
      class="jh-fixed-table-height elevation-0 mt-0 mb-xs-4">
    </v-data-table>
  </div>
</script>

<script>
  Vue.component('task-history', {
    template: "#task-history",
    vueComponent: 'task-history',
    vuetify: new Vuetify(),
    props: {
      taskId: {
        type: String,
        default: '',
      },
    },
    data() {
      return {
        isTableLoading: false,
        headers: [
          {text: "名称", value: "taskTitle", width: 230, class: 'fixed', cellClass: 'fixed'},
          {text: "节点说明", value: "taskExplain", width: 200}, 
          {text: "操作人", value: "operationByUser", width: 80}, 
          {text: "操作描述", value: "taskHandleDesc", width: 120}, 
          {text: "操作时间", value: "operation-at", width: 250},
        ],
        tableData: [],
      };
    },
    watch: {
      taskId: {
        handler(val, oldVal) {
          if (!val) return;
          this.getTableData();
        },
        immediate: true,
      },
    },
    methods: {
      // ---------- 日期选择 >>>>>>>>>> --------
      async getTableData() {
        this.isTableLoading = true;
        const result = await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'todo',
              actionId: 'getTaskHistory',
              actionData: {taskId: this.taskId},
            }
          }
        })
        const {taskHistoryList, lineTypeList} = result.data.appData.resultData;
        this.tableData = taskHistoryList;
        this.$emit('line-type-list', lineTypeList);
        this.isTableLoading = false;
      },
      // ---------- <<<<<<<<<< 日期选择 --------
    },
  });

</script>
<style>
</style>
<!-- <<<<<<<<<<<<< formItem.html -->